@page
@model ErrorModel
@{
	ViewData["Title"] = "Error";
}
@{
	Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<div class="row mt-5">
	<div class="col-sm-4 offset-sm-4">
		<h2 class="text-danger">Error.</h2>
		<h2 class="text-danger">Access Denied.</h2>
		<h2>You don't have access to the page you are loking for.</h2>
	</div>
</div>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>