@page "/"
@model TierraMediaWeb.Pages.Account.LoginModel
@{
	ViewData["Title"] = "Login";
}
@{
	Layout = null;
}
@if (ViewData["ErrorMessage"] != null)
{
<div class="alert alert-danger">@ViewData["ErrorMessage"]</div>
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<div class="row mt-5">
	<div class="col-sm-4 offset-sm-4">

		<form method="post">
			<div class="mb-3">
				<label for="exampleUser1" class="form-label">User</label>
				<input type="text" asp-for="UserCredential.User" class="form-control" required>
			</div>
			<div class="mb-3">
				<label for="exampleInputPassword1" class="form-label">Password</label>
				<input type="password" asp-for="UserCredential.Password" class="form-control" required>
			</div>
			<button type="submit" class="btn btn-primary">Login</button>
		</form>
	</div>
</div>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>